<div class="uk-panel uk-panel-box panel-success">
<h1 class="uk-margin-large-bottom uk-text-center"> Create Administrator Account </h1>
<div class="panel-heading"></div>
<div class="panel-body">

<check if="{{ @page['errors'] }}">
<div class="alert alert-danger">{{ @page['errors'] }}</div>
</check>

<form role="form" method="post" enctype="multipart/form-data" class="uk-form uk-form-horizontal tm-form-horizontal">
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="user_name">User Name</label>
<div class="uk-form-controls">
<input type="text" class="uk-width-1-1" id="user_name" name="user_name" placeholder="User Name" data-error="Bruh, Enter valid User Name" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div></div>
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="display_name">Display Name</label>
<div class="uk-form-controls">
<input type="text" class="uk-width-1-1" id="display_name" name="display_name" placeholder="Display Name" data-error="Bruh, Enter valid Display Name" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div></div>
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="email">Email address</label>
<div class="uk-form-controls">
<input type="email" class="uk-width-1-1" id="email" name="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div></div>
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="password">Password</label>
<div class="uk-form-controls">
<input type="password" class="uk-width-1-1" id="password" name="password" placeholder="Password" data-minlength="6" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block">Minimum of 6 characters</div>
</div></div>
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="password_confirm">Password Confirmation</label>
<div class="uk-form-controls">
<input type="password" class="uk-width-1-1" id="password_confirm" name="password_confirm" placeholder="Password Confirmation" data-match="#password" data-match-error="Whoops, these don't match"  required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div></div>
<div class="uk-form-row">
<label class="uk-form-label" for="gender">Gender:</label>
<label class="uk-form-label" class="radio-inline">
<input type="radio" name="gender" id="male" value="1"> Male
</label>
<label class="uk-form-label" class="radio-inline">
<input type="radio" name="gender" id="female" value="2"> Female
</label>
</div>
 
<div class="uk-form-row has-feedback">
<label class="uk-form-label" for="date_of_birth">Date of Birth</label>
<div class="uk-form-controls">
<input type="text" class="uk-width-1-1" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth : YYYY-MM-DD" data-match-error="Whoops, these don't match"  required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>
 
<p class="uk-text-right">
<button class="uk-button uk-button-primary" type="submit">
<span class="uk-flex-inline uk-flex-middle">Next
<svg class="uk-margin-small-left" width="18" height="11" viewBox="0 0 18 11" xmlns="http://www.w3.org/2000/svg">
<line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" x1="3" y1="5.5" x2="15" y2="5.5"></line>
<path fill="#FFFFFF" d="M10.5,10.9c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l4.597-4.597l-4.597-4.597
c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l4.95,4.95c0.195,0.195,0.195,0.512,0,0.707l-4.95,4.95
C10.756,10.852,10.628,10.9,10.5,10.9z"></path>
</svg>
</span>
</button>
</p>
</form>
</div>
</div>
