<div class="uk-panel uk-panel-box panel-success">
<h1 class="uk-margin-large-bottom uk-text-center"> Database Created </h1>
<div class="panel-body">
<check if="{{ @page['errors'] }}">
<div class="alert alert-danger"><i class="icon-cross"></i> {{ @page['errors'] }}</div>
</check>
<check if="{{ @page['msg'] }}">
<div class="alert alert-success"><i class="icon-ok"></i> {{ @page['msg'] }}</div>
</check>

Required Tables has been Created and Sample Data has been Inserted now Follow Next Step for Creating Administrator Account.

<p class="uk-text-right">
<a href="{{ @home_url }}/install/admin_create" class="uk-button uk-button-primary">
<span class="uk-flex-inline uk-flex-middle">Next
<svg class="uk-margin-small-left" width="18" height="11" viewBox="0 0 18 11" xmlns="http://www.w3.org/2000/svg">
<line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" x1="3" y1="5.5" x2="15" y2="5.5"></line>
<path fill="#FFFFFF" d="M10.5,10.9c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l4.597-4.597l-4.597-4.597
c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l4.95,4.95c0.195,0.195,0.195,0.512,0,0.707l-4.95,4.95
C10.756,10.852,10.628,10.9,10.5,10.9z"></path>
</svg>
</span>
</a>
</div>
</div>