@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4xz0wn');
    src: url('../fonts/icomoon.eot?4xz0wn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4xz0wn') format('truetype'),
    url('../fonts/icomoon.woff?4xz0wn') format('woff'),
    url('../fonts/icomoon.svg?4xz0wn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-unchecked:before {
    content: "\e909";
}

.icon-checked:before {
    content: "\e90a";
}

.icon-signal:before {
    content: "\e900";
}

.icon-envelope:before {
    content: "\e901";
}

.icon-paper-plane:before {
    content: "\e902";
}

.icon-send:before {
    content: "\e902";
}

.icon-file-text:before {
    content: "\e903";
}

.icon-th-list:before {
    content: "\e904";
}

.icon-th:before {
    content: "\e905";
}

.icon-th-large:before {
    content: "\e906";
}

.icon-home:before {
    content: "\e907";
}

.icon-edit:before {
    content: "\e908";
}

.icon-image:before {
    content: "\e90d";
}

.icon-images:before {
    content: "\e90e";
}

.icon-camera:before {
    content: "\e90f";
}

.icon-music:before {
    content: "\e911";
}

.icon-play:before {
    content: "\e912";
}

.icon-bullhorn:before {
    content: "\e91a";
}

.icon-books:before {
    content: "\e920";
}

.icon-price-tag:before {
    content: "\e935";
}

.icon-price-tags:before {
    content: "\e936";
}

.icon-cart:before {
    content: "\e93a";
}

.icon-help:before {
    content: "\e941";
}

.icon-pushpin:before {
    content: "\e946";
}

.icon-history:before {
    content: "\e94d";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-bell:before {
    content: "\e951";
}

.icon-reply:before {
    content: "\e96a";
}

.icon-comment:before {
    content: "\e96d";
}

.icon-user:before {
    content: "\e971";
}

.icon-user-tie:before {
    content: "\e976";
}

.icon-binoculars:before {
    content: "\e985";
}

.icon-search:before {
    content: "\e986";
}

.icon-zoom-in:before {
    content: "\e987";
}

.icon-zoom-out:before {
    content: "\e988";
}

.icon-enlarge:before {
    content: "\e989";
}

.icon-shrink:before {
    content: "\e98a";
}

.icon-key:before {
    content: "\e98d";
}

.icon-cong:before {
    content: "\e991";
}

.icon-cog:before {
    content: "\e994";
}

.icon-bug:before {
    content: "\e999";
}

.icon-stats-dots:before {
    content: "\e99b";
}

.icon-dashboard:before {
    content: "\e9a6";
}

.icon-trash:before {
    content: "\e9ad";
}

.icon-upload:before {
    content: "\e9c6";
}

.icon-link:before {
    content: "\e9cb";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-happy:before {
    content: "\e9df";
}

.icon-add:before {
    content: "\ea0a";
}

.icon-remove:before {
    content: "\ea0b";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-ok:before {
    content: "\ea10";
}

.icon-login:before {
    content: "\ea13";
}

.icon-logout:before {
    content: "\ea14";
}

.icon-loop:before {
    content: "\ea2d";
}

.icon-spinner:before {
    content: "\e97c";
}

.icon-reload:before {
    content: "\ea2e";
}

.icon-restart:before {
    content: "\e984";
}

.icon-top:before {
    content: "\ea3a";
}

.icon-bottom:before {
    content: "\ea3e";
}

.icon-filters:before {
    content: "\ea5b";
}

.icon-bold:before {
    content: "\ea62";
}

.icon-underline:before {
    content: "\ea63";
}

.icon-italic:before {
    content: "\ea64";
}

.icon-strikethrough:before {
    content: "\ea65";
}

.icon-embed:before {
    content: "\ea7f";
}

.icon-share:before {
    content: "\ea82";
}

/**
 * Main Style
 */
* {
    max-width: 100%;
    box-sizing: border-box;
}

html {
    width: 100% !important;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    background: #EEF2FF url("../img/fade-blue.png") repeat-x;
    background-size: cover;
    line-height: 1.42857143;
    color: black;
    padding: 0;
    padding-top: 40px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.underline {
    text-decoration: underline
}

.clear {
    clear: both
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.nowrap {
    white-space: nowrap
}

.center {
    margin: 0 auto
}

hr {
    color: rgba(153, 136, 238, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hidden {
    display: none !important
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a, a:visited {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img[alt="mascot"] {
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: -1
}

table {
    margin: 0 auto;
    width: 100%;
}

tr:not(:nth-child(4)) {
    height: 22px
}

th {
    width: 64px;
    text-align: left;
    padding: 0px 5px;
    border: 1px solid #000;
    color: #000;
    background-color: #98E
}

tr.rules {
    border: 0px !important;
    background-color: transparent !important;
    font-weight: normal !important;
}

ul.rules {
    margin: 0px;
    padding: 0px;
    margin-top: 4px;
}

ul.rules > li {
    list-style: none;
    font-size: 10px;
    margin-top: 2px;
}

.rules > li:before {
    content: "\2022 \20";
}

footer p {
    padding: 8px;
}

/* Quick Reply */
#quick-reply {
    display: none;
    font-size: 16px;
    position: fixed;
    right: 5%;
    top: 5%;
    float: right;
    min-width: 300px;
    width: auto !important;
    height: auto !important;
    z-index: 1030;
    padding: 0px;
    border: 1px solid #98E;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#quick-reply .body {
    padding: 2px;
    width: 100%;
}

#quick-reply .title {
    background: #98E;
    color: #fff;
    padding: 2px;
    text-align: center;
}

#quick-reply form, #quick-reply input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=file]) {
    width: 100%;
}

#quick-reply .title .close-btn {
    color: #fff;
    content: "&times;";
    right: 4px;
    position: relative;
}

#quick-reply .qrfile {
    width: 130px;
    margin-right: 5px;
}

#quick-reply .qrSpoiler {
    display: inline;
}

#quick-reply .gump-field {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

#post-create, #posted {
    width: 400px;
    margin: 0 auto;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.postForm {
    width: 100%;
    position: relative;
}

.postForm input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=file]), textarea {
    width: 100%
}

input[type=text]:focus, input[type=password]:focus, input:not([type]):focus, textarea:focus {
    border: 1px solid #9988EE;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
    width: 100%;
    min-width: 308px
}

input:not([type="checkbox"]) {
    height: 22px
}

textarea, input:not([type="file"]) {
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: 1px solid #AAA;
    padding: 2px 4px 3px 4px;
    background-color: white
}

input[name="post"] {
    width: 80px
}

[name="post"] [type="text"]:not([name="subject"]) {
    width: 100%;
    min-width: 236px
}

[name="post"] textarea {
    min-height: 22px
}

[name="post"] [type="text"][name="subject"] {
    width: calc(100% - 82px);
    min-width: 162px
}

input#upload_file {
    width: 180px
}

#top-menu {
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background: #D6DAF0;
    padding: 4px;
    margin: 0 auto;
    top: 0;
    left: 0;
}

#top-menu .board-list {
    float: left;
}

#top-menu .board-list a + a:before {
    content: "/\00a0";
}

#top-menu .settings {
    float: right;
}

/* Board Name */
.site-info {
    display: block;
    margin: 0 auto;
}

.site-info .logo, .site-info .board_name {
    text-align: center;
    padding: 0;
    margin: 0;
}

/*
Reply Style
 */

/* Page Navigation */
#Navigation {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px;
    height: 40px
}

#Navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 7px
}

#Navigation ul li {
    float: left;
    margin-left: 5px;
    height: 3em;
    line-height: 25px
}

#Navigation ul li a {
    float: left;
    margin-left: 5px;
    line-height: 25px
}

#Navigation li a.active, #Navigation li a.sel {
    border: 1px solid #32A336;
    color: #ffffff;
    background: #32A336;
    padding: 2px 10px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#Navigation a {
    border: 1px solid #32A336;
    padding: 2px 10px;
    color: #32A336;
    text-decoration: none;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#Navigation a:hover {
    border: 1px solid #32A336;
    color: #ffffff;
    background: #32A336;
}

#Navigation span {
    padding: 2px 10px
}

/*
Thread Menu
 */
.catalog-menu, .thread-menu, .thread {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.thread-menu .post-btn {
    float: left;
}

.thread-menu .thread-stats {
    float: right;
    margin-right: 5px;
    cursor: default;
}

.delete {
    float: right;
    margin-right: 5px;
}

.qr-btn {
    font-weight: bold;
    position: absolute;
    left: 50%;
    right: 50%;
    text-align: center;
    width: 90px;
    margin: 0 auto;
}

.unimportant, .unimportant * {
    font-size: 10px
}

.file {
    float: left;
    margin-right: 2px
}

.file:not(.multifile) .post-image {
    float: left
}

.file:not(.multifile) {
    float: none
}

p.fileinfo {
    display: block;
    margin: 0 0 0px 0px;
    white-space: normal !important
}

.fileinfo :not(a) {
    word-wrap: break-word
}

div.post p.fileinfo {
    padding-left: 5px
}

img.post-image {
    display: block;
    float: left;
    margin: 5px 10px 5.5px 19px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

img.expend {
    width: auto;
    height: auto;
    max-width: 98%;
    float: none !important;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

div.post img.post-image {
    padding: 5px;
    padding-left: 0;
    margin: 4px 10px 0 0
}

.multifile img.post-image {
    margin-left: 0px;
    margin-top: 0px
}

div.post.op {
    margin-right: 20px;
    margin-bottom: 5px
}

div.post.op hr {
    border-color: #D9BFB7
}

p.intro {
    margin: 2px 0;
    padding: 0;
    padding-bottom: 0.2em
}

.post.reply p.intro {
    white-space: nowrap
}

#report {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

div.postcontainer {
    display: inline-block;
    white-space: nowrap;
    max-width: 100% !important
}

div.reply p {
    margin: 3px 0 0 0
}

div.reply.newPostsMarker {
    box-shadow: 0 -3px #F00;
}

div.reply .body {
}

pre {
    overflow: auto
}

div.reply.highlight {
    background: #D6BAD0
}

div.reply div.body a {
    color: #D00;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

div.post div.body {
    word-wrap: normal;
    margin-left: 19px
}

div.sidearrows {
    display: inline-block;
    margin-top: 0;
    float: left;
    box-sizing: border-box;
    width: 18px
}

div.reply {
    background: #D6DAF0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin: 4px;
    padding: 0.2em 0.3em 0.5em 0.6em;
    border: 1px solid #B7C5D9;
    border-radius: 5px;
    display: inline-block;
    max-width: 97% !important
}

p.intro span.subject {
    color: #0F0C5D;
    font-weight: bold
}

p.intro span.name {
    color: #117743;
    font-weight: bold
}

p.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
    color: #F00000;
    margin-left: 0
}

span.trip {
    color: #228854
}

span.quotes {
    color: #789922;
}

span.spoiler {
    background: black;
}

span.spoiler:hover {
    color: white;
}

.quote-preview {
    display: inline-table;
    position: absolute;
    padding: 3px 6px 6px 3px;
    margin: 0;
    z-index: 1030;
    color: #000;
    width: 100%;
}

div.newPostsMarker {
    box-shadow: 0px -3px #F00;
}

/* Catalog */
input:not([type="file"]).search {
    background: #fff url("../img/search.png") no-repeat 4px center !important;
    padding: 3px 3px 3px 25px;
    width: 200px;
    border: 1px solid #9988EE;
    border-radius: 5px;
    height: 25px;
}

div.catalog img {
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
    border: 2px solid rgba(153, 153, 153, 0);
}

div.catalog {
    border: 1px solid #98E;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2px;
    padding: 2px;
    height: 300px;
    width: 205px;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    max-height: 300px;
}

div.threads {
    text-align: center;
    margin: 0 auto;
}

div.catalog:hover {
    background: #D6DAF0;
    border-color: #B7C5D9;
}

div.grid-size-vsmall img {
    max-height: 33%;
    max-width: 95%
}

div.grid-size-vsmall {
    min-width: 90px;
    max-width: 90px;
    max-height: 148px;
}

div.grid-size-small img {
    max-height: 33%;
    max-width: 95%
}

div.grid-size-small {
    min-width: 140px;
    max-width: 140px;
    max-height: 192px;
}

div.grid-size-medium img {
    max-height: 33%;
    max-width: 95%
}

div.grid-size-medium {
    min-width: 200px;
    max-width: 200px;
    max-height: 274px;
}

div.grid-size-large {
    min-width: 256px;
    max-width: 256px;
    max-height: 384px;
}

/* Home Page Style */
div.recent-photos, div.boards, div.bans, div.recent-posts {
    border: 1px solid #98E;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px
}

div.boards p,
div.boards h1,
div.bans p,
div.recent-photos p,
div.recent-posts p,
div.recent-posts h1,
div.recent-photos h1,
div.bans h1 {
    padding: 3px 7px;
    margin: 4px;
}

div.recent-photos h1, div.boards h1, div.bans h1, div.recent-posts h1 {
    background: #98E;
    color: #fff;
    font-size: 16px;
    word-wrap: break-word;
    margin: 0;
}

div.recent-posts ul {
    padding: 2px;
    margin: 2px;
}

div.boards li {
    margin: 2px;
    margin-right: 8px;
}

/* Category Based Board List */
div.boards .column {
    display: inline-block;
    width: 200px;
}

div.boards .column h1 {
    font-size: 14px;
}

div.recent-photos ul {
    margin: 0 auto;
    text-align: center;
}

div.recent-photos li {
    display: inline-block;
    vertical-align: text-top;
}

/* Content  */
#content {
    padding: 8px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Sidebars */
.left-column {
    width: 48%;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

/* Help */
.help {
    text-align: center;
}

.help-faq, .help-emoji {
    font-size: 3em;
    text-align: center;
}

/* Errors and Success */
#thread-msg {
    text-align: center;
}

/* Errors and Success */
#db_error {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #DF4A32;
    font-size: 16px;
    padding: 20px;
}

#thread-msg, #success-msg, #error-msg {
    padding: 8px;
    margin: 8px;
}

#thread-msg, #error-msg {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #DF4A32;
}

input.has-error, div.has-error {
    border: 1px solid #DF4A32 !important;
}

#success-msg {
    background: #32A336;
    background-size: auto 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Boostrap Buttons */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.form-group {
    margin-bottom: 15px;
}

input:not([type="checkbox"]).form-control {
    height: 34px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

/* Dropdown */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 20px auto;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777;
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px solid;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

/*
 * Video Player
 */

video, audio {
    padding: 5px 5px 5px 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

/*
 * Settings
 */
#settings {
    display: none;
    position: fixed;
    top: 20%;
    left: 40%;
    width: 300px;
    background: #EEF2FF url("../img/fade-blue.png") repeat-x;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

#settings .header, #settings .body, #settings .footer {
    padding: 8px;
}

#settings .close {
    color: white;
}

#settings .header {
    background: #9988EE;
    font-size: 1.2rem;
    color: white;
}

#settings .body {
    padding: 20px;
}

#settings .body input[type="checkbox"] + label {
    cursor: pointer;
}

#settings .body label::after {
    content: "";
    display: block;
}

#settings .body input[type="checkbox"]:checked + label::before {
    content: "\e90a";
}

#settings .body input[type="checkbox"] {
    display: none;
}

#settings .body input[type="checkbox"] + label::before {
    content: "\e909";
    font-family: icomoon;
    font-size: 20px;
    display: inline-block;
    width: 25px;
    position: relative;
    top: 3px;
}

#settings .footer {

}

/* Spinner */
.spin {
    display: inline-block;
    animation: anim-rotate 2s infinite linear;
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
Toastr Style
 */
.toast {
    opacity: 1 !important;
}

/*
 * Embed
 */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
    padding-bottom: 75%;
}

/* Layout design */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#posted table {
    width: 250px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.box {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background: #D6DAF0;
    border: 1px solid #9988ee;
    color: #000333;
    margin: 0 0 12px 0;
}

.box-title {
    background: #98E;
    color: white;
    font-size: 120%;
    font-weight: bold;
    padding: 4px 8px;
}

.box-content {
    padding: 0 8px;
    margin: 4px 0;
}