@font-face{ font-family: 'icomoon'; src:url('../fonts/icomoon.eot?-ilav3j'); src:url('../fonts/icomoon.eot?#iefix-ilav3j') format('embedded-opentype'),  url('../fonts/icomoon.ttf?-ilav3j') format('truetype'),  url('../fonts/icomoon.woff?-ilav3j') format('woff'),  url('../fonts/icomoon.svg?-ilav3j#icomoon') format('svg'); font-weight: normal; font-style: normal;}
[class^="icon-"], [class*=" icon-"]{ font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-email:before{ content: "\e608";}
.icon-paper-plane:before{ content: "\e606";}
.icon-signal:before{ content: "\e605";}
.icon-file-text:before{ content: "\e604";}
.icon-th-list:before{ content: "\e600";}
.icon-th:before{ content: "\e601";}
.icon-th-large:before{ content: "\e602";}
.icon-home:before{ content: "\e902";}
.icon-edit:before{ content: "\e906";}
.icon-image:before{ content: "\e90d";}
.icon-images:before{ content: "\e90e";}
.icon-horn:before{ content: "\e91a";}
.icon-books:before{ content: "\e920";}
.icon-cart:before{ content: "\e93a";}
.icon-help:before{ content: "\e941";}
.icon-envelop:before{ content: "\e945";}
.icon-history:before{ content: "\e94d";}
.icon-clock:before{ content: "\e94e";}
.icon-bell:before{ content: "\e951";}
.icon-reply:before{ content: "\e96a";}
.icon-comment:before{ content: "\e96d";}
.icon-user:before{ content: "\e971";}
.icon-user-tie:before{ content: "\e976";}
.icon-restart:before{ content: "\e984";}
.icon-filters:before{ content: "\e985";}
.icon-search:before{ content: "\e986";}
.icon-key:before{ content: "\e98d";}
.icon-cog:before{ content: "\e994";}
.icon-trash:before{ content: "\e9ad";}
.icon-upload:before{ content: "\e9c8";}
.icon-link:before{ content: "\e9cb";}
.icon-happy:before{ content: "\e9df";}
.icon-add:before{ content: "\ea0a";}
.icon-remove:before{ content: "\ea0b";}
.icon-cross:before{ content: "\ea0f";}
.icon-ok:before{ content: "\ea10";}
.icon-login:before{ content: "\ea13";}
.icon-logout:before{ content: "\ea14";}
.icon-loop:before{ content: "\ea2d";}
.icon-reload:before{ content: "\ea2e";}
.icon-top:before{ content: "\ea3a";}
.icon-bottom:before{ content: "\ea3e";}
.icon-share:before{ content: "\ea82";}
.icon-google-plus:before{ content: "\ea89";}
.icon-facebook:before{ content: "\ea8d";}
.icon-twitter:before{ content: "\ea91";}
.icon-youtube:before{ content: "\ea9a";}
.icon-vimeo:before{ content: "\ea9c";}
.icon-dropbox:before{ content: "\eaaf";}
.icon-github:before{ content: "\eab1";}
.icon-wordpress:before{ content: "\eab6";}
.icon-yahoo:before{ content: "\eabd";}
.icon-soundcloud:before{ content: "\eac5";}
.icon-skype:before{ content: "\eac6";}
.icon-reddit:before{ content: "\eac7";}
.icon-linkedin:before{ content: "\eac8";}
.icon-stackoverflow:before{ content: "\eacf";}


* {max-width:100%; box-sizing: border-box;}
html { width:100%!important; }
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; background:#EEF2FF url("../img/fade-blue.png") top center repeat-x; line-height: 1.42857143; color: #000; padding:0; margin:6px auto;}
ul{list-style-type: none; margin:0;padding:0}
.underline{text-decoration:underline}
.clear{clear:both}
.clearfix:before{  display: table; content: " ";}
.clearfix:after{ clear: both;}
.nowrap{white-space:nowrap}
.center{margin:0 auto}
.pull-left{float:left !important;}
.pull-right{float: right !important;}
.hidden{display:none !important}
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
ul,li { list-style:none;}
img[alt="mascot"] {display:block;margin:0 auto 0 auto;position:relative;z-index:-1}
table * {margin:0}
table {margin:0px auto}
tr:not(:nth-child(4)) {height:22px}
tr * {padding:0px}
th {width:64px;text-align:left;padding:0px 5px;border:1px solid #000;color:#000;background-color:#98E}
textarea {width:100%;min-width:308px}
input:not([type="checkbox"]) {height:22px}
textarea,input:not([type="file"]) {-moz-box-sizing:border-box!important;box-sizing:border-box!important;border:1px solid #AAA;padding:2px 4px 3px 4px;background-color:white}
input[name="post"] {width:72px}
[name="post"] [type="text"]:not([name="subject"]) {width:100%;min-width:236px}
[name="post"] textarea {min-height:22px}
[name="post"] [type="text"][name="subject"] {width:calc(100% - 74px);min-width:162px}
input#upload_file {width:180px}
@media (max-width: 321px) {[name="post"] [type="text"]:not([name="subject"]),[name="post"] textarea {width:236px;min-width:236px}
input#upload_file {width:160px}
}
#spoilercontainer {display:inline-block;float:right;position:relative;top:3px;right:4px}
a,a:visited {text-decoration:none;color:#34345C}
p.intro a.post_no,p.intro a.email,p.intro a.post_anchor {color:#ff0000}
p.intro>a:nth-child(5) {margin-left:0.6em}
a.post_no {text-decoration:none;margin:0;padding:0}
p.intro a.post_no {color:inherit}
p.intro a.post_no,p.intro a.email {margin:0}
p.intro a.email span.name {color:#34345C}
p.intro a.email:hover span.name {color:#ff0000}
p.intro label {display:inline}
p.intro time,p.intro a.ip-link,p.intro a.capcode {direction:ltr;unicode-bidi:embed}
.badges {text-align:center;clear:both}
header {margin:1em 0}
header div.subtitle,h1 {color:#AF0A0F;text-align:center}
header div.subtitle {margin:5px;font-size:8pt}
[name="post"] * {-moz-appearance:none!important}
.unimportant,.unimportant * {font-size:10px}
.file {float:left;margin-right:2px}
.file:not(.multifile) .post-image {float:left}
.file:not(.multifile) {float:none}
p.fileinfo {display:block;margin:0 0 0px 0px;white-space:normal!important}
.fileinfo :not(a) {word-wrap:break-word}
div.post p.fileinfo {padding-left:5px}
img.post-image {display:block;float:left;margin:5px 10px 5.5px 19px;}
img.expend{width: auto; height: auto; max-width: 98%; float: none !important;}
div.post img.post-image {padding:5px;padding-left:0;margin:4px 10px 0 0}
.multifile img.post-image {margin-left:0px;margin-top:0px}
div.post.reply img.post-image {margin-left:19px}
div.post img.icon {display:inline;margin:0 5px;padding:0}
div.post i.fa {margin:0 4px;font-size:16px}
div.post.op {margin-right:20px;margin-bottom:5px}
div.post.op hr {border-color:#D9BFB7}
p.intro {margin:2px 0;padding:0;padding-bottom:0.2em}
.post.reply p.intro {white-space:nowrap}
input.delete {float:left;margin:0px 6px 0 0;position:relative;top:2px}
p.intro span.subject {color:#0F0C5D;font-weight:bold}
p.intro span.name {color:#117743;font-weight:bold}
p.intro span.capcode,p.intro a.capcode,p.intro a.nametag {color:#F00000;margin-left:0}
p.intro .mentioned a {margin-left:8px}
div.delete {float:right;margin-bottom:2px}
div.delete :not([type="submit"]):not([type="checkbox"]) {width:166px}
div.delete [type="submit"] {margin-left:2px}
div.postcontainer {display:inline-block;white-space:nowrap;max-width:100%!important}
div.post.reply p {margin:3px 0 0 0}
div.post.reply.newPostsMarker{ box-shadow: 0px -3px #F00; }
div.post.reply .body {}
pre {overflow:auto}
div.post.reply.highlighted {background:#D6BAD0}
div.post.reply div.body a {color:#D00;word-wrap:break-word;word-break:break-all;white-space:pre-wrap}
div.post div.body {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:normal;margin-left:19px}
div.sidearrows {display:inline-block;margin-top:0px;float:left;box-sizing:border-box;width:18px}
div.post.reply {background:#D6DAF0;margin:1.5px 0px;padding:0.2em 0.3em 0.5em 0.6em;border-width:1px;border-style:none solid solid none;border-color:#B7C5D9;display:inline-block;max-width:97%!important}
span.trip {color:#228854}
span.quote {color:#789922}
span.omitted {display:block;margin-top:1em;opacity:0.7;margin-left:19px}
br.clear {clear:left;display:block}
span.heading {color:#AF0A0F;font-size:11pt;font-weight:bold}
span.spoiler {background:black;color:black;padding:0 1px; margin-right: 4px;}
div.post.reply div.body span.spoiler a {color:black}
span.spoiler:hover,div.post.reply div.body span.spoiler:hover a {color:white}
div.styles a {margin:0 10px}
div.styles a.selected {text-decoration:none}
fieldset label {display:block}
div.boardlist {color:#89A;font-size:10pt;margin-top:0px;text-align:center;margin:0 auto}
#style-select {display:table-cell;font-size:10pt;z-index:3;text-align:right;width:auto}
#style-select select {margin-right:-1px;padding:3px 4px 3px 4px;margin-bottom:-1px;margin-top:-1px}
hr {border:none;border-top:1px solid #B7C5D9;height:0;clear:left}
#boardfront .boardlist {margin-bottom:-28px}
body #boardfront {width:100%}
div.boardlist.bottom {margin-top:0px;clear:right}
div.boardlist a {text-decoration:none}
div.report {color:#333}
div.post .quotes{ color: #32A336;}
video.post-image {display:block;float:left;margin:10px 20px;border:none}
div.post video.post-image {padding:0px;margin:10px 25px 5px 5px}
.quote-preview { display: inline-table;  position: absolute;  padding: 3px 6px 6px 3px;  margin: 0; z-index:1030; color:#000; min-width:50%; max-width:100%;}

/**
* Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Admincp */
#boards_list li { display: inline-block; width: 250px; }

.capitalize { text-transform: capitalize; }

/* Board Name */
.board_name{text-align:center; margin: 0px;}
hr{ margin:0 auto; border-color:#38B63C; }

.thread-stats { float: right; margin-right: 5px; cursor: default; margin-top: 4px; }

.center{text-align:Center;}
.qr-btn{margin-left:5%; font-weight:bold; margin-top: 4px; position:absolute;}
.highlight{	background:#D6BAD0 !important; border:1px solid #BA9DBF; }
.admin{color: red;}

/* Menu */
#menu{width:100%; border-top:1px solid #38B63C; border-bottom:1px solid #38B63C; margin:4px; height:30px;}
#menu .post-btn{width:45%; float:left; margin-top: 4px;}

/* Home Page Style */
div.recent-photos,div.boards,div.bans,div.recent-posts { border: 1px solid #98E; width: 100%; margin: 0 auto; margin-bottom:10px }
div.boards p, 
div.boards h1,
div.bans p,
div.recent-photos p,
div.recent-posts p, 
div.recent-posts h1,
div.recent-photos h1,
div.bans h1{ padding: 3px 7px; margin:4px; }
div.recent-photos h1,div.boards h1,div.bans h1,div.recent-posts  h1{ background: #98E; color:#fff; font-size: 16px; word-wrap: break-word; margin: 0px; }

div.recent-posts ul{ padding: 2px; margin: 2px; }

div.boards li { margin: 2px; margin-right:8px;}

/* Category Based Board List */
div.boards .column{ display: inline-block; width: 200px;}
div.boards .column h1{font-size:14px;}

div.recent-photos li{ text-align: center; }

/* Content  */
#content{padding:8px; border-radius:5px; margin-top:20px;}

/* Sidebars */
.left-column{ width: 48%; float: left; }

.right-column{ width: 50%; float: right;}

/* Help */
.help{text-align:center;}
.help-faq,.help-emoji{ font-size:3em; text-align:center;}

/* File Uploader */
#file-uploader{ width:100%; white-space:nowrap; overflow-x: auto; }
#file-uploader .pic{ width:120px; height:120px; text-align:center; border:1px solid #000; border-radius: 5px; margin:8px; display: inline-block; vertical-align:top; position:relative; overflow:hidden;}
#file-uploader .pic img { width:120px; height:120px; text-align:center;}
#file-uploader .pic .remove{cursor: pointer; position:absolute; top:0; right: 0; width:20px; height:20px; background: #eee; z-index:1030; }
#file-uploader .pic-list{ overflow-x: scroll; overflow-y: hidden;}
#file-uploader .addfile{cursor: pointer; border: 2px dashed #32A336; border-radius: 5px; display: inline-block; width:120px; height:120px; text-align:center;  margin:8px; line-height:105px;}
#file-uploader .add-file { position: relative; overflow: hidden;  height: 48px; font-size:2em; }
#file-uploader .add-file input[type="file"]{ height: 20px; position: absolute; top: 0; right: 0; bottom:5px; margin: 0 auto; opacity: 0; cursor: pointer; width: 100%;}

/* Reply Box #quick-reply{ position: fixed; right: 5%; top: 5%; float: right; display: none; padding: 0;  width: 310px; z-index:1030; border:1px solid #38B63C; border-radius:5px; background:#fff;}
	

*/
#quick-reply{ font-size: 16px; display:none; position: fixed; right: 0%; top: 5%; float: right; min-width:300px; max-width:50%; width:auto !important; height:auto !important; background:#fff; z-index:1030; border:1px solid #38B63C; border-radius:5px; }

#quick-reply .body{ padding: 2px; width:100%; }

#quick-reply .title{ background: #32A336; color:#fff; padding:8px; text-align:Center; }

#quick-reply .title .close-btn{ color:#fff; content:"&times;"; opacity:1;}
#quick-reply .qrfile{width: 130px; margin-right: 5px;}
#quick-reply .qrSpoiler{display: inline;}
#quick-reply .gump-field{ padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }

.u-form-group{ width:100%; margin-bottom: 10px;}
.u-form-group.half{width: 20%;margin-right: 4px;display:inline-block;}
.u-form-group label{font-weight:bold;}
.u-form-group textarea,.u-form-group select,.u-form-group input[type="email"],.u-form-group input[type="text"],.u-form-group input[type="password"]{width: 100%; height:45px; outline: none; border: 1px solid #ddd; padding: 0 10px; border-radius: 2px; color: #333; -webkit-transition:all 0.1s linear; -moz-transition:all 0.1s linear; transition:all 0.1s linear;}
.u-form-group textarea:focus,.u-form-group select:focus,.u-form-group input:focus{ border-color: #32A336;}
.u-form-group textarea{height:100%; padding: 6px 12px}
.u-form-group button{width: 100%; background: #32A336; border: none; outline: none; color: #fff; font-size: 14px; font-weight: normal; padding: 14px 0; border-radius: 2px; text-transform: uppercase; cursor:pointer;}

/* @group 404 */
#error {position:absolute;bottom:0;min-height:573px;width:100%;margin:0;background:url('../img/404.png') no-repeat;overflow:hidden}
#error .grass {position:absolute;bottom:0;width:100%;height:140px;background:url('../img/grass.png');left:800px}
/* @end */

#not-found,#video-error{ color: #32A336; padding: 24px; height: 300px; margin: 8px auto; text-align: center; font-size: 18px; }

#not-found h1,#video-error h1{font-size: 2.5em;}

/* Errors and Success */
#thread-msg{text-align: center;}
#thread-msg,#success-msg,#error-msg{padding:8px;}
#thread-msg,#error-msg{ color:#fff; border: 1px solid #fff; border-radius: 5px; background: #DF4A32;}
input.has-error,textarea.has-error,div.has-error{border: 1px solid #DF4A32 !important;}
#success-msg{ background: #32A336; background-size:auto 30px; color:#fff; border: 1px solid #fff; border-radius: 5px; }

/* Langauage Flag */
.country{background-image:url("../img/flags.png");height:15px;width:25px;background-repeat:no-repeat;overflow:hidden;display:inline-block;}
.country-ad {background-position: -25px 0}
.country-ae {background-position: -50px 0}
.country-af {background-position: -75px 0}
.country-ag {background-position: -100px 0}
.country-ai {background-position: -125px 0}
.country-al {background-position: -150px 0}
.country-am {background-position: -175px 0}
.country-an {background-position: -200px 0}
.country-ao {background-position: -225px 0}
.country-ar {background-position: -250px 0}
.country-as {background-position: -275px 0}
.country-at {background-position: -300px 0}
.country-au {background-position: -325px 0}
.country-aw {background-position: -350px 0}
.country-az {background-position: -375px 0}
.country-ba {background-position: 0 -15px}
.country-bb {background-position: -25px -15px}
.country-bd {background-position: -50px -15px}
.country-be {background-position: -75px -15px}
.country-bf {background-position: -100px -15px}
.country-bg {background-position: -125px -15px}
.country-bh {background-position: -150px -15px}
.country-bi {background-position: -175px -15px}
.country-bj {background-position: -200px -15px}
.country-bm {background-position: -225px -15px}
.country-bn {background-position: -250px -15px}
.country-bo {background-position: -275px -15px}
.country-br {background-position: -300px -15px}
.country-bs {background-position: -325px -15px}
.country-bt {background-position: -350px -15px}
.country-bv {background-position: -375px -15px}
.country-bw {background-position: 0 -30px}
.country-by {background-position: -25px -30px}
.country-bz {background-position: -50px -30px}
.country-ca {background-position: -75px -30px}
.country-cd {background-position: -100px -30px}
.country-cf {background-position: -125px -30px}
.country-cg {background-position: -150px -30px}
.country-ch {background-position: -175px -30px}
.country-ci {background-position: -200px -30px}
.country-ck {background-position: -225px -30px}
.country-cl {background-position: -250px -30px}
.country-cm {background-position: -275px -30px}
.country-cn {background-position: -300px -30px}
.country-co {background-position: -325px -30px}
.country-cr {background-position: -350px -30px}
.country-cu {background-position: -375px -30px}
.country-cv {background-position: 0 -45px}
.country-cy {background-position: -25px -45px}
.country-cz {background-position: -50px -45px}
.country-de {background-position: -75px -45px}
.country-dj {background-position: -100px -45px}
.country-dk {background-position: -125px -45px}
.country-dm {background-position: -150px -45px}
.country-do {background-position: -175px -45px}
.country-dz {background-position: -200px -45px}
.country-ec {background-position: -225px -45px}
.country-ee {background-position: -250px -45px}
.country-eg {background-position: -275px -45px}
.country-eh {background-position: -300px -45px}
.country-er {background-position: -325px -45px}
.country-es {background-position: -350px -45px}
.country-et {background-position: -375px -45px}
.country-eu {background-position: 0 -60px}
.country-fi {background-position: -25px -60px}
.country-fj {background-position: -50px -60px}
.country-fk {background-position: -75px -60px}
.country-fm {background-position: -100px -60px}
.country-fo {background-position: -125px -60px}
.country-fr {background-position: -150px -60px}
.country-ga {background-position: -175px -60px}
.country-gb {background-position: -200px -60px}
.country-gd {background-position: -225px -60px}
.country-ge {background-position: -250px -60px}
.country-gf {background-position: -275px -60px}
.country-gg {background-position: -300px -60px}
.country-gh {background-position: -325px -60px}
.country-gi {background-position: -350px -60px}
.country-gl {background-position: -375px -60px}
.country-gm {background-position: 0 -75px}
.country-gn {background-position: -25px -75px}
.country-gp {background-position: -50px -75px}
.country-gq {background-position: -75px -75px}
.country-gr {background-position: -100px -75px}
.country-gs {background-position: -125px -75px}
.country-gt {background-position: -150px -75px}
.country-gu {background-position: -175px -75px}
.country-gw {background-position: -200px -75px}
.country-gy {background-position: -225px -75px}
.country-hk {background-position: -250px -75px}
.country-hm {background-position: -275px -75px}
.country-hn {background-position: -300px -75px}
.country-hr {background-position: -325px -75px}
.country-ht {background-position: -350px -75px}
.country-hu {background-position: -375px -75px}
.country-id {background-position: 0 -90px}
.country-ie {background-position: -25px -90px}
.country-il {background-position: -50px -90px}
.country-in {background-position: -75px -90px}
.country-io {background-position: -100px -90px}
.country-iq {background-position: -125px -90px}
.country-ir {background-position: -150px -90px}
.country-is {background-position: -175px -90px}
.country-it {background-position: -200px -90px}
.country-je {background-position: -225px -90px}
.country-jm {background-position: -250px -90px}
.country-jo {background-position: -275px -90px}
.country-jp {background-position: -300px -90px}
.country-ke {background-position: -325px -90px}
.country-kg {background-position: -350px -90px}
.country-kh {background-position: -375px -90px}
.country-ki {background-position: 0 -105px}
.country-km {background-position: -25px -105px}
.country-kn {background-position: -50px -105px}
.country-kp {background-position: -75px -105px}
.country-kr {background-position: -100px -105px}
.country-kw {background-position: -125px -105px}
.country-ky {background-position: -150px -105px}
.country-kz {background-position: -175px -105px}
.country-la {background-position: -200px -105px}
.country-lb {background-position: -225px -105px}
.country-lc {background-position: -250px -105px}
.country-li {background-position: -275px -105px}
.country-lk {background-position: -300px -105px}
.country-lr {background-position: -325px -105px}
.country-ls {background-position: -350px -105px}
.country-lt {background-position: -375px -105px}
.country-lu {background-position: 0 -120px}
.country-lv {background-position: -25px -120px}
.country-ly {background-position: -50px -120px}
.country-ma {background-position: -75px -120px}
.country-mc {background-position: -100px -120px}
.country-md {background-position: -125px -120px}
.country-me {background-position: -150px -120px}
.country-mg {background-position: -175px -120px}
.country-mh {background-position: -200px -120px}
.country-mk {background-position: -225px -120px}
.country-ml {background-position: -250px -120px}
.country-mm {background-position: -275px -120px}
.country-mn {background-position: -300px -120px}
.country-mo {background-position: -325px -120px}
.country-mp {background-position: -350px -120px}
.country-mq {background-position: -375px -120px}
.country-mr {background-position: 0 -135px}
.country-ms {background-position: -25px -135px}
.country-mt {background-position: -50px -135px}
.country-mu {background-position: -75px -135px}
.country-mv {background-position: -100px -135px}
.country-mw {background-position: -125px -135px}
.country-mx {background-position: -150px -135px}
.country-my {background-position: -175px -135px}
.country-mz {background-position: -200px -135px}
.country-na {background-position: -225px -135px}
.country-nc {background-position: -250px -135px}
.country-ne {background-position: -275px -135px}
.country-nf {background-position: -300px -135px}
.country-ng {background-position: -325px -135px}
.country-ni {background-position: -350px -135px}
.country-nl {background-position: -375px -135px}
.country-no {background-position: 0 -150px}
.country-np {background-position: -25px -150px}
.country-nr {background-position: -50px -150px}
.country-nu {background-position: -75px -150px}
.country-nz {background-position: -100px -150px}
.country-om {background-position: -125px -150px}
.country-pa {background-position: -150px -150px}
.country-pe {background-position: -175px -150px}
.country-pf {background-position: -200px -150px}
.country-pg {background-position: -225px -150px}
.country-ph {background-position: -250px -150px}
.country-pk {background-position: -275px -150px}
.country-pl {background-position: -300px -150px}
.country-pm {background-position: -325px -150px}
.country-pn {background-position: -350px -150px}
.country-pr {background-position: -375px -150px}
.country-ps {background-position: 0 -165px}
.country-pt {background-position: -25px -165px}
.country-pw {background-position: -50px -165px}
.country-py {background-position: -75px -165px}
.country-qa {background-position: -100px -165px}
.country-re {background-position: -125px -165px}
.country-ro {background-position: -150px -165px}
.country-rs {background-position: -175px -165px}
.country-ru {background-position: -200px -165px}
.country-rw {background-position: -225px -165px}
.country-sa {background-position: -250px -165px}
.country-sb {background-position: -275px -165px}
.country-sc {background-position: -300px -165px}
.country-sd {background-position: -325px -165px}
.country-se {background-position: -350px -165px}
.country-sg {background-position: -375px -165px}
.country-sh {background-position: 0 -180px}
.country-si {background-position: -25px -180px}
.country-sk {background-position: -50px -180px}
.country-sl {background-position: -75px -180px}
.country-sm {background-position: -100px -180px}
.country-sn {background-position: -125px -180px}
.country-so {background-position: -150px -180px}
.country-sr {background-position: -175px -180px}
.country-st {background-position: -200px -180px}
.country-sv {background-position: -225px -180px}
.country-sy {background-position: -250px -180px}
.country-sz {background-position: -275px -180px}
.country-tc {background-position: -300px -180px}
.country-td {background-position: -325px -180px}
.country-tf {background-position: -350px -180px}
.country-tg {background-position: -375px -180px}
.country-th {background-position: 0 -195px}
.country-tj {background-position: -25px -195px}
.country-tk {background-position: -50px -195px}
.country-tl {background-position: -75px -195px}
.country-tm {background-position: -100px -195px}
.country-tn {background-position: -125px -195px}
.country-to {background-position: -150px -195px}
.country-tr {background-position: -175px -195px}
.country-tt {background-position: -200px -195px}
.country-tv {background-position: -225px -195px}
.country-tw {background-position: -250px -195px}
.country-tz {background-position: -275px -195px}
.country-ua {background-position: -300px -195px}
.country-ug {background-position: -325px -195px}
.country-um {background-position: -350px -195px}
.country-us {background-position: -375px -195px}
.country-uy {background-position: 0 -210px}
.country-uz {background-position: -25px -210px}
.country-va {background-position: -50px -210px}
.country-vc {background-position: -75px -210px}
.country-ve {background-position: -100px -210px}
.country-vg {background-position: -125px -210px}
.country-vi {background-position: -150px -210px}
.country-vn {background-position: -175px -210px}
.country-vu {background-position: -200px -210px}
.country-wf {background-position: -225px -210px}
.country-ws {background-position: -250px -210px}
.country-ye {background-position: -275px -210px}
.country-yt {background-position: -300px -210px}
.country-za {background-position: -325px -210px}
.country-zm {background-position: -350px -210px}
.country-zw {background-position: -375px -210px}

/* Dropdown */
.caret{ display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.dropup,.dropdown{ position: relative;}
.dropdown-toggle:focus{ outline: 0;}
.dropdown-menu{ position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 20px auto; font-size: 14px; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box;     background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu.pull-right{ right: 0; left: auto;}
.dropdown-menu .divider{ height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;}
.dropdown-menu > li > a{ display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333; white-space: nowrap;}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{ color: #262626; text-decoration: none; background-color: #f5f5f5;}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{ color: #fff; text-decoration: none; background-color: #337ab7; outline: 0;}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{ color: #777;}
.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{ text-decoration: none; cursor: not-allowed; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.open > .dropdown-menu{ display: block;}
.open > a{ outline: 0;}
.dropdown-menu-right{ right: 0; left: auto;}
.dropdown-menu-left{ right: auto; left: 0;}
.dropdown-header{ display: block; padding: 3px 20px; font-size: 12px; line-height: 1.42857143; color: #777; white-space: nowrap;}
.dropdown-backdrop{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 990;}
.pull-right > .dropdown-menu{ right: 0; left: auto;}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{ content: ""; border-top: 0; border-bottom: 4px solid;}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{ top: auto; bottom: 100%; margin-bottom: 2px;}
@media (min-width: 768px){ .navbar-right .dropdown-menu{  right: 0;  left: auto; }
.navbar-right .dropdown-menu-left{  right: auto;  left: 0; }
}

/* Boostrap Buttons */
.btn{ display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation;   touch-action: manipulation; cursor: pointer; -webkit-user-select: none;   -moz-user-select: none;   -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{ outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.btn:hover,.btn:focus,.btn.focus{ color: #333; text-decoration: none;}
.btn:active,.btn.active{ background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{ pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65;}

.btn-default{ color: #333; background-color: #fff; border-color: #ccc;}
.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{ color: #333; background-color: #e6e6e6; border-color: #adadad;}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{ background-image: none;}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{ background-color: #fff; border-color: #ccc;}
.btn-default .badge{ color: #fff; background-color: #333;}
.btn-primary{ color: #fff; background-color: #337ab7; border-color: #2e6da4;}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{ color: #fff; background-color: #286090; border-color: #204d74;}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary{ background-image: none;}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{ background-color: #337ab7; border-color: #2e6da4;}
.btn-primary .badge{ color: #337ab7; background-color: #fff;}
.btn-success{ color: #fff; background-color: #5cb85c; border-color: #4cae4c;}
.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.open > .dropdown-toggle.btn-success{ color: #fff; background-color: #449d44; border-color: #398439;}
.btn-success:active,.btn-success.active,.open > .dropdown-toggle.btn-success{ background-image: none;}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{ background-color: #5cb85c; border-color: #4cae4c;}
.btn-success .badge{ color: #5cb85c; background-color: #fff;}
.btn-info{ color: #fff; background-color: #5bc0de; border-color: #46b8da;}
.btn-info:hover,.btn-info:focus,.btn-info.focus,.btn-info:active,.btn-info.active,.open > .dropdown-toggle.btn-info{ color: #fff; background-color: #31b0d5; border-color: #269abc;}
.btn-info:active,.btn-info.active,.open > .dropdown-toggle.btn-info{ background-image: none;}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{ background-color: #5bc0de; border-color: #46b8da;}
.btn-info .badge{ color: #5bc0de; background-color: #fff;}
.btn-warning{ color: #fff; background-color: #f0ad4e; border-color: #eea236;}
.btn-warning:hover,.btn-warning:focus,.btn-warning.focus,.btn-warning:active,.btn-warning.active,.open > .dropdown-toggle.btn-warning{ color: #fff; background-color: #ec971f; border-color: #d58512;}
.btn-warning:active,.btn-warning.active,.open > .dropdown-toggle.btn-warning{ background-image: none;}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{ background-color: #f0ad4e; border-color: #eea236;}
.btn-warning .badge{ color: #f0ad4e; background-color: #fff;}
.btn-danger{ color: #fff; background-color: #d9534f; border-color: #d43f3a;}
.btn-danger:hover,.btn-danger:focus,.btn-danger.focus,.btn-danger:active,.btn-danger.active,.open > .dropdown-toggle.btn-danger{ color: #fff; background-color: #c9302c; border-color: #ac2925;}
.btn-danger:active,.btn-danger.active,.open > .dropdown-toggle.btn-danger{ background-image: none;}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{ background-color: #d9534f; border-color: #d43f3a;}
