body{ background: #ffe url("../img/fade.png") repeat-x 50% 0%; color: #800;}
a:link, a:visited, .intro a.email span.name{ color: #0000ff;}
a:link:hover{ color: #d00;}
a.post_no{ color: #800000;}
div.post.reply{ background: #f0e0d6; border-color: #d9bfb7;}
div.post.reply.highlighted{ background: #f0c0b0; border-color: #d9bfb7;}
div.post.reply div.body a{ color: navy;}
p.intro span.subject{ color: #d00;}
tr th{ background: #EA8; color: #800000; border: 1px solid #800000;}
textarea:focus, input:not([type="file"]):not([type="checkbox"]):focus, [type="submit"]:hover{ border: 1px solid #EA8;}
div.ban h2{ background: #FCA; color: inherit;}
div.ban{ border-color: #800;}
div.ban p{ color: black;}