<form role="form" method="post" enctype="multipart/form-data" id="post-create">
    <div id="msg"></div>
    <div class="u-form-group">
        <label>Ban User</label>
        <input name="ip" autocomplete="off" type="text" placeholder="Ban user by IP">
    </div>
    <div class="u-form-group">
        <label>Reason</label>
        <input name="reason" autocomplete="off" type="text" placeholder="Ban Reason">
    </div>
    <div class="u-form-group">
        <label>Ban User For</label>
        <input name="time" autocomplete="off" type="text" placeholder="Set Ban Time Period">
    </div>
    <div class="u-form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-ban"></i> Ban User</button>
    </div>
</form>