<check if="{{ @page.boards_list }}">
    <table class="table tablesorter" id="boards_list">
        <thead>
        <tr>
            <th>#</th>
            <th>Board Name</th>
            <th>Threads</th>
            <th>Posts</th>
            <th>Files</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @page.boards_list }}" value="{{ @boards_list }}" counter="{{ @counter }}">
            <tr class="{{ (@counter%2) ? 'even' : 'odd'}}">
                <td>{{ @counter }}</td>
                <td><a href="{{@home_url}}/admincp/boards/{{ @boards_list.id }}/edit">{{ @boards_list.slug}} - {{ @boards_list.name}}</a></td>
                <td>{{ @boards_list->threads->count() }}</td>
                <td>{{ @boards_list->posts->count() }}</td>
                <td>{{ @boards_list->photos->count() }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
    <false>
        <div id="error-msg">
            <i class="icon-cross"></i> No Boards is Exists Create a New One
        </div>
    </false>
</check>
