<check if="{{ @page.boards_list }}">
<table cellpadding="0" cellspacing="0" width="100%">
<tr class="headline">
<td class="series">#</td>
<td class="chapter">Boards</td>
<td class="date">Threads</td>
<td class="date">Posts</td>
<td class="date">Photos</td>
</tr>	
<repeat group = "{{ @page.boards_list }}" value="{{ @boards_list }}" counter="{{ @counter }}">
<tr class="{{ (@counter%2) ? 'even' : 'odd'}}">
<td>{{ @counter }}</td>	
<td><a href="{{@home_url}}/admincp/boards/{{ @boards_list.id }}/edit">{{ @boards_list.name }}</a></td>
<td>{{ @boards_list->threads->count() }}</td>
<td>{{ @boards_list->posts->count() }}</td>
<td>{{ @boards_list->photos->count() }}</td>
</tr>
</repeat>
</table>
<false>
<div id="error-msg">No Boards is Exists Create a New One</div>
</false>
</check>