<div class="widgets">

    <div class="widget-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="icon-comment"></i>
                </div>
                123 New Orders!
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="widget-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="icon-comment"></i>
                </div>
                123 New Orders!
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="widget-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="icon-comment"></i>
                </div>
                123 New Orders!
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="widget-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="icon-help"></i>
                </div>
                0 Users are Banned
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<include href="admin/menu.htm"/>