<div class="row">
    <div class="col-4">
        <fieldset>
            <legend>General</legend>
            <ul>
                <li><a href="{{ @home_url }}/admincp/notes"><i class="icon-file-text"></i> Notes</a></li>
                <li><a href="{{ @home_url }}/admincp/ipnotes"><i class="fa fa-user-secret"></i> IP notes</a></li>
                <li><a href="{{ @home_url }}/admincp/recent/posts"><i class="icon-th-list"></i> Recent posts</a></li>
                <li><a href="{{ @home_url }}/admincp/recent/files"><i class="icon-images"></i> Recently uploaded images</a></li>
                <li><a href="{{ @home_url }}/admincp/reports"><i class="fa fa-bug"></i> Report queue (0)</a></li>
                <li><a href="{{ @home_url }}/admincp/warnings"><i class="fa fa-warning"></i> Warnings</a></li>
                <li><a href="{{ @home_url }}/admincp/whitelist"><i class="fa fa-user-circle-o"></i> Manage whitelist</a></li>
                <li><a href="{{ @home_url }}/admincp/warnings/add"><i class="fa fa-warning"></i> Add warning</a></li>
                <li><a href="{{ @home_url }}/admincp/ban_requests"><i class="fa fa-ban"></i> Ban requests (0)</a></li>
                <li><a href="{{ @home_url }}/admincp/appeals"><i class="fa fa-ban"></i> Ban appeals (0)</a></li>
                <li><a href="{{ @home_url }}/admincp/locked"><i class="fa fa-lock"></i> Locked threads</a></li>
                <li><a href="{{ @home_url }}/admincp/sticky"><i class="icon-pushpin"></i> Sticky threads</a></li>
            </ul>
        </fieldset>
    </div>
    <div class="col-4">
        <fieldset>
            <legend>Administration</legend>
            <ul>
                <li><a href="{{ @home_url }}/admincp/settings"><i class="icon-cong"></i> Configuration</a></li>
                <li><a href="{{ @home_url }}/admincp/boards"><i class="icon-th-large"></i> Manage boards</a></li>
                <li><a href="{{ @home_url }}/admincp/ads"><i class=""></i> Manage ads</a></li>
                <li><a href="{{ @home_url }}/admincp/users"><i class="icon-user-tie"></i> Manage users</a></li>
                <li><a href="{{ @home_url }}/admincp/bans"><i class="fa fa-user-times"></i> Banlist</a></li>
                <li><a href="{{ @home_url }}/admincp/news"><i class="fa fa-file-text-o"></i> Manage news entries</a></li>
                <li><a href="{{ @home_url }}/admincp/bbcodes"><i class="fa fa-code"></i> Manage BBCodes</a></li>
                <li><a href="{{ @home_url }}/admincp/embeds"><i class="icon-embed"></i> Manage embeds</a></li>
                <li><a href="{{ @home_url }}/admincp/message"><i class="icon-envelope"></i> Global message</a></li>
            </ul>
        </fieldset>
    </div>
    <div class="col-4">
        <fieldset>
            <legend>Boards</legend>
            <ul>
                <li><a href="{{ @home_url }}/admincp/boards"><i class="icon-th-list"></i> Manage Boards</a></li>
                <li><a href="{{ @home_url }}/admincp/boards/create"><i class="icon-edit"></i> Boards Create</a></li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>User account</legend>
            <ul>
                <li>Change Password</li>
                <li><a href="{{ $home_url}}/logout"><i class="icon-logout"></i> Logout</a> </li>
            </ul>
        </fieldset>
    </div>
</div>