<form role="form" method="post" enctype="multipart/form-data" id="post-create" class="settings">
<div id="msg"></div>
<div class="u-form-group">
<label>Site Title</label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group">
<label>Meta Description</label>	
<input type="text" name="site_desc" value="">
</div>
<div class="u-form-group">
<label>Meta Keyword</label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group half">
<label>Recaptcha</label>
<div class="switch">
<input id="recaptcha" class="cmn-toggle cmn-toggle-round" type="checkbox">
<label for="recaptcha"></label>
</div>
</div>
<div class="u-form-group half">
<label>Recaptcha Key</label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group half">
<label>Recaptcha Secret Key</label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group half">
<label>Maintenance</label>
<div class="switch">
<input id="maintenance" class="cmn-toggle cmn-toggle-round" type="checkbox">
<label for="maintenance"></label>
</div>
</div>
<div class="u-form-group">
<label></label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group">
<label></label>	
<input type="text" name="site_title" value="">
</div>
<div class="u-form-group">
<button type="submit">Update Settings</button>
</div>
</form>