<input type="button" value="B" onclick="formatText ('b');" title="[b]Bold[/b]"/>
<input type="button" value="I" onclick="formatText ('i');" title="[i]Italic[/i]"/>
<input type="button" value="U" onclick="formatText ('u');" title="[u]Underline[/u]"/>
<input type="button" value="S" onclick="formatText ('s');" title="[s]Strike through[/s]"/>
<input type="button" value="Colour" onclick="formatText ('color');" title="[color=purple]Strike through[/color]"/>
<input type="button" value="IMG" onclick="formatText ('img');" title="[img]https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png[/img]"/>
<input type="button" value="Spoiler" onclick="formatText ('spoiler');" title="[spoiler]Spoiler Text[/spoiler]"/>