<div class="recent-posts">
<h1>Recent Posts</h1>
<ul>
<?php 
$posts_list = Posts::orderBy('created_at','desc')->take('10')->get();

foreach($posts_list as $total_recent_posts){
	
$board_id = Boards::find($total_recent_posts->board_id);
$board_name = $board_id->name;
$board_slug = $board_id->slug;

$thread_id = $total_recent_posts->thread_id;

$post_id = $total_recent_posts->id;

$content = strip_tags(substr($total_recent_posts->content,0,80));

$url = URL::to("$board_slug/thread/$thread_id#$post_id");

echo "<li>$board_name : <a href=\"$url\">$content</a></li>";

}
?>
</ul>
<div class="quote-preview"></div>
</div>