<form role="form" method="post" enctype="multipart/form-data" id="posted" action="{{ @home_url }}/ajax/{{@board_slug}}/topic">
<table>
<tr>
<th>Name</th>
<td>
<input name="user_name" size="25" maxlength="35" autocomplete="off" type="text" placeholder="Anonymous">
</td>
</tr>
<tr>
<th>Email</th>
<td>
<input name="email" size="25" maxlength="40" autocomplete="off" type="text" placeholder="Email">
</td>
</tr>
<tr>
<th>Subject</th>
<td>
<input name="subject" size="25" maxlength="100" autocomplete="off" type="text" placeholder="Subject" required>
<input accesskey="s" name="post" value="Post" type="submit">
</td>
</tr>
<tr>
<th>BBCode</th>
<td>
<input type="button" value="B" onclick="formatText ('b');" title="[b]Bold[/b]"/> 
<input type="button" value="I" onclick="formatText ('i');" title="[i]Italic[/i]"/> 
<input type="button" value="U" onclick="formatText ('u');" title="[u]Underline[/u]"/>
<input type="button" value="S" onclick="formatText ('s');" title="[s]Strike through[/s]"/> 
<input type="button" value="IMG" onclick="formatText ('img');" title="[img]https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png[/img]"/> 
<input type="button" value="Spoiler" onclick="formatText ('spoiler');" title="[spoiler]Spoiler Text[/spoiler]"/> 
</td>
</tr>
<tr>
<th>Comment</th>
<td>
<textarea name="message" id="post-msg" rows="5" cols="35" placeholder="Comment" required></textarea>
</td>
</tr>
<tr>
<th>Verification</th>
<td>
<a href="javascript:void(0)" onclick="grecaptcha.reset();">Reload Captcha</a>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>			
<div class="g-recaptcha" data-sitekey="{{ @site_key }}"></div>
</td>
</tr>
<tr id="upload">
<th>File</th>
<td>
<input name="upload_file" id="upload_file" type="file" required>
</td>
</tr>
<tr>
<th>Password</th>
<td>
<input name="password" value="" size="12" maxlength="18" autocomplete="off" type="password"> 
<span class="unimportant">(For file deletion.)</span></td>
</tr>
</table>
</form>