<!DOCTYPE html>
<html lang="en">
<head>
<check if="{{ @active_menu = '/'}}">
<true><title>{{ @page.title }} - {{ @site_title}}</title></true>
<false><title>{{ @page.title }} - {{ @site_title}}</title></false>
</check>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" type="image/x-icon" href="{{ @home_url }}/img/favicon.ico">
<check if="{{ @current_style }}">
<true>
<link rel="stylesheet" type="text/css" href="{{ @home_url }}/css/{{ @current_style }}.css" data-theme="current">	
</true>
<false>
<link rel="stylesheet" type="text/css" href="{{ @home_url }}/css/YotsubaBlue.css" data-theme="current">
</false>
</check>
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/pace-flash.css">
<script src="{{ @home_url }}/js/jquery.min.js"></script>
<script src="{{ @home_url }}/js/jquery-ui.min.js"></script>
<script src="{{ @home_url }}/js/pace.min.js"></script>
<script src="{{ @home_url }}/js/jquery.form.min.js"></script>
<script src="{{ @home_url }}/js/bootstrap-suggest.js"></script>
<script src="{{ @home_url }}/js/sweetalert.min.js"></script>
<check if="{{ @page.post_list }}">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/sweetalert.css">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/bootstrap-suggest.css">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/twemoji-awesome.css">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/sweetalert.css">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url }}/css/SimpleSlider.css">
<script src="{{ @home_url }}/js/sweetalert.min.js"></script>
<script src="{{ @home_url }}/js/SimpleSlider.js"></script>
</check>
<script src="{{ @home_url }}/js/ajax.js"></script>
<script type="text/javascript">
var base_url = '{{ @home_url }}';
var max_char_limit = 1000;
<check if="{{ @page.thread_id }}">
<true>var thread_id = {{ @page.thread_id }};</true>
<false>var thread_id = 0;</false>
</check>
var guest = 0;
var is_logged_in = false;
<check if="{{ @page.board_id }}">
<true>var board_id = {{ @page.board_id }};</true>
<false>var board_id = 0;</false>
</check>
</script>
</head>
<body>
	
<div class="container-fluid">
<h1 class="board_name"><a href="{{ @home_url }}"><img src="{{ @home_url }}/img/logo.png" ></a></h1>
<check if="{{ @page.board_slug }}">
<h1 class="board_name"><a href="{{ @home_url }}/{{ @page.board_slug }}">{{ @page.board_title }}</a></h1>
</check>

<include if="{{ !empty(@page['content']) }}" href="{{ @page['content'] }}" />

<div id="menu">
<div class="post-btn">

Style: 

{{
@form->select('style', [
"style" => "Default",
"Yotsuba" => "Yotsuba",
"YotsubaBlue" => "Yotsuba Blue",
"Futaba" => "Futaba",
"Burichan" => "Burichan",
"Tomorrow" => "Tomorrow",
"Photon" => "Photon"
],@current_style,["id" => "style"]
) 

}}

</div>
<check if="{{ @page.post_list }}">
<div class="delete pull-right">
[Delete Post
<a href="javascript:void(0);" id="delete">Delete</a>]
</div>
</check>
</div>
<div class="clear"></div>


<p class="muted pull-right">&copy {{ date('Y') }} 4ch . All rights reserved</p>

<p class="center">All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p>
</div>
</body>
</html>