<!doctype html>
<html>
<head>
<title>{{ $title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url.'/css/style.css'}}">
<link media="all" type="text/css" rel="stylesheet" href="{{ @home_url.'/css/pace-flash.css' }}">
<style type="text/css">
body {background-color:#c8e1f6;margin:0 auto;padding:0;}
#home-page{position:absolute; top:50%; left: 65%;}
</style>
</head>
<body>
<div id="error">
<a href="{{ @home_url }}" class="btn btn-success" id="home-page"><span class="icon-home"></span> Return to Homepage</a>
<div class="grass">
</div></div>
</body>
</html>