<div id="menu">
<div class="post-btn">
[<a href="{{ @page.board_url }}"><span class="icon-home"></span> Return</a>] 
[<a href="javascript:void(0)" id="bottom"><span class="icon-bottom"></span> Bottom</a>]
[<a href="javascript:void(0)" onClick="return false" id="refresh" title="Check new Posts"><span class="icon-restart"></span> Update</a>] 
[<label><input type="checkbox" value="1" id="auto" title="Fetch new replies automatically"> <span class="icon-reload"></span>  Auto Update</label> <b><span id="timer"></span></b>]
</div>
<a href="javascript:qr('show');" class="qr-btn" title="New Reply"><span class="icon-add"></span> New Reply</a>

<div class="thread-stats">
<span class="icon-comment"></span> Replies <span class="reply">{{ @page.total_posts }} </span> / 
<span class="icon-image"></span> Images <span class="images">{{ @page.total_images }}</span> /
<span class="icon-user"></span> Posters: {{ @page.total_posters }}
</div> 
</div>
<div class="clear"></div>


<div id="posts_list">
<div class="quote-preview"></div>
<div id="quick-reply">
<div class="title">
Reply to Thread No. #{{ @page.thread_id }}
<a href="javascript:qr('hide');" title="Close" class="close-btn pull-right"><i class="icon-cross"></i></a>
</div>
<div class="body">
<div id="msg"></div>
<include href="posts/guest.htm" with="board_slug = {{ @page.board_slug }},thread_id = {{ @page.thread_id }}"/>
</div>
</div>

<repeat group="{{ @page.post_list }}" value="{{ @posts }}" counter="{{ @counter }}">

<div class="post reply" id="{{ @posts.id }}">

<div class="post-header"> 
<span class="{{ @posts.class_name }}"><input value="{{ @posts.id }}" id="delete-this" type="checkbox">  
<span class="icon-user"></span> {{ @posts.user_name | remove_execute_code,remove_spaces }} </span> 
<span class="icon-history"></span> 
<time class="tooltip" data-tooltip="{{ @posts->created_at->format('m/d/y (D) H:i:s') }}">{{ nicetime(@posts.created_at) }}</time> 
<a href="#{{ @posts.id }}" id="post-id" rel="{{ @posts.id }}" class="btn btn-xs btn-success">No.{{ @posts.id }}</a> 
<a href="#{{ @posts.id }}" id="post_id" rel="{{ @posts.id }}" class="btn btn-xs btn-success">Quote</a> 
<span id="report" rel="{{ @posts.id }}" class="btn btn-danger btn-xs">Report</span></div>
<div class="post-body">

<check if="{{ @posts.photos->count() }}">
<true>
<check if="{{ @posts.photos->count() > 1 }}">
<true>
<div id="gallery">

<repeat group="{{ @posts.photos }}" value="{{ @pics }}" counter="{{ @counter }}" >
	
<img id="image" src="{{ @home_url }}/thumb/{{ @page.board_slug }}/{{ @page.thread_id}}/{{ @pics->file_name }}" data-src="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @page.thread_id }}/{{ @pics->file_name }}" class="img-responsive img-thumbnail"> 

</repeat>

<span class="desc">{{ @posts.content | remove_execute_code,remove_spaces,replace_data }}</span>
</div>

</true>
<false>
<div class="post-header">
<div id="<?php echo $post_id; ?>">
File: <a href="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @page.thread_id}}/{{ @posts.photos->first()->file_name }}">{{ @posts.photos->first()->original_name }}</a> ({{ formatSizeUnits(@posts.photos->first()->size) }} , {{ @posts.photos->first()->pixels }})
</div>
</div>	
	
<img id="image" src="{{ @home_url }}/thumb/{{ @page.board_slug }}/{{ @page.thread_id}}/{{ @posts.photos->first()->file_name }}" data-src="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @page.thread_id }}/{{ @posts.photos->first()->file_name }}" class="img-responsive img-thumbnail"> 	
<span class="desc">{{ @posts.content | remove_execute_code,remove_spaces,replace_data }}</span>
</false>
</check>
</true>
<false>
{{ @posts.content | remove_execute_code,remove_spaces,replace_data }}	
</false>
</check>

</div>

</div>
</repeat>


</div>
<div class="clear"></div>
<div id="menu">
<div class="post-btn">
[<a href="{{ @page.board_url }}"><span class="icon-home"></span> Return</a>] 
[<a href="javascript:void(0)" id="top"><span class="icon-top"></span> Top</a>]
[<a href="javascript:void(0)" onClick="return false" id="refresh" title="Check new Posts"><span class="icon-restart"></span> Update</a>] 
[<label><input type="checkbox" value="1" id="auto" title="Fetch new replies automatically"> <span class="icon-reload"></span>  Auto Update</label> <b><span id="timer"></span></b>]
</div>
<a href="javascript:qr('show');" class="qr-btn" title="New Reply"><span class="icon-add"></span> New Reply</a>

<div class="thread-stats">
<span class="icon-comment"></span> Replies <span class="reply">{{ @page.total_posts }} </span> / 
<span class="icon-image"></span> Images <span class="images">{{ @page.total_images }}</span> /
<span class="icon-user"></span> Posters: {{ @page.total_posters }}
</div> 
</div>
<div class="clear"></div>
