<div id="msg"></div>
<form role="form" method="post" enctype="multipart/form-data" id="posted" action="{{ @home_url }}/ajax/{{@page.board_slug}}/topic">
<table>
<tr>
<th>Name</th>
<td>
<input name="user_name" size="25" maxlength="35" autocomplete="off" type="text" placeholder="Anonymous">
</td>
</tr>
<tr>
<th>Email</th>
<td>
<input name="email" size="25" maxlength="40" autocomplete="off" type="text" placeholder="Email">
</td>
</tr>
<tr>
<th>Subject</th>
<td>
<input name="subject" size="25" maxlength="100" autocomplete="off" type="text" placeholder="Subject" required>
<input accesskey="s" name="post" value="Post" type="submit">
</td>
</tr>
<tr>
<th>BBCode</th>
<td>
<input type="button" value="B" onclick="formatText ('b');" title="[b]Bold[/b]"/> 
<input type="button" value="I" onclick="formatText ('i');" title="[i]Italic[/i]"/> 
<input type="button" value="U" onclick="formatText ('u');" title="[u]Underline[/u]"/>
<input type="button" value="S" onclick="formatText ('s');" title="[s]Strike through[/s]"/> 
<input type="button" value="IMG" onclick="formatText ('img');" title="[img]https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png[/img]"/> 
<input type="button" value="Spoiler" onclick="formatText ('spoiler');" title="[spoiler]Spoiler Text[/spoiler]"/> 
</td>
</tr>
<tr>
<th>Comment</th>
<td>
<textarea name="message" id="post-msg" rows="5" cols="35" placeholder="Comment" required></textarea>
</td>
</tr>
<check if="{{ @enable_recaptcha }}">
<tr>
<th>Verification</th>
<td>
<a href="javascript:void(0)" onclick="grecaptcha.reset();">Reload Captcha</a>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>			
<div class="g-recaptcha" data-sitekey="{{ @site_key }}"></div>
</td>
</tr>
</check>
<tr id="upload">
<th>File</th>
<td>
<input name="upload_file" id="upload_file" type="file" required>
</td>
</tr>
<tr>
<th>Password</th>
<td>
<input name="password" value="" size="12" maxlength="18" autocomplete="off" type="password"> 
<span class="unimportant">(For file deletion.)</span></td>
</tr>
<tr class="rules">
<td colspan="2">
<ul class="rules">
<li>Supported file types are: jpg, png, gif, mp3, wav, swf, mp4, webm</li>
</ul>
</td>
</tr>
</table>
</form>

<hr>

<div class="thread-menu">
    <div class="post-btn">
        [<a href="{{ @home_url }}/{{ @page.board_slug }}/catalog"><span class="icon-th-large"></span> Catalog</a>]
        [<a href="javascript:void(0)" id="go_to_bottom"><span class="icon-bottom"></span> Bottom</a>]
    </div>
</div>

<div class="clear"></div>

<repeat group="{{ @page.post_list}}" value="{{ @thread}}">

    <repeat group="{{ @thread.posts }}" value="{{ @posts }}" counter="{{ @counter }}">

    <check if="{{ @posts.is_thread }}">
        <hr>
    </check>
    <div class="thread">
    <check if="{{ @posts.is_thread }}">
        <true>
            <div class="files">
                <div id="{{ @posts.id }}" class="file">
                    <p class="fileinfo">File: <a href="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @posts.thread_id}}/{{ @posts.photos->first()->file_name }}">{{ @posts.photos->first()->original_name }}</a> ({{ formatSizeUnits(@posts.photos->first()->size) }} , {{ @posts.photos->first()->pixels }})</p>
                    <img class="post-image" id="image" src="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @posts.thread_id}}/thumb/{{ @posts.photos->first()->file_name }}" data-src="{{ @home_url }}/uploads/{{ @page.board_slug }}/{{ @posts.thread_id }}/{{ @posts.photos->first()->file_name }}">
                </div>
            </div>
            <div class="post op" id="{{ @posts.id }}">
                <p class="intro">
                        <span class="name"><input value="{{ @posts.id }}" id="delete-this" type="checkbox">
                        <check if="{{ @posts.threads.name }}">
                        <span class="subject"> {{ @posts.threads.name | remove_execute_code,remove_spaces }}</span>
                        </check>
                        <check if="{{ @posts.boards.show_contry_flag }}">
                        <i class="country country-{{ @posts.ip | country_flag }}"></i>
                        </check>
                        <span class="icon-user"></span> {{ @posts.user_name | remove_execute_code,remove_spaces }} </span>
                    <span class="icon-history"></span>
                    <time class="tooltip">{{ @posts->created_at->format('m/d/y (D) H:i:s') }}</time>
                    <span><a href="{{ @home_url }}/{{ @page.board_slug }}/thread/{{ @thread.id }}">[Reply]</a></span>
                </p>
                <div class="body">{{ @posts.content | remove_execute_code,remove_spaces,replace_data }}</div>
            </div>
        </true>
        <false>
            <div class="post-container" id="pc{{ @posts.id }}">
                <div class="sidearrows">&gt;&gt;</div>
                <div class="post reply" id="{{ @posts.id }}">
                    <p class="intro">
                        <check if="{{ @posts.boards.show_country_flag }}">
                            <i class="country country-{{ @posts.ip | country_flag }}"></i>
                        </check>
                        <span class="name"><input value="{{ @posts.id }}" id="delete-this" type="checkbox">
                            <span class="icon-user"></span> {{ @posts.user_name | remove_execute_code,remove_spaces }} </span>
                        <span class="icon-history"></span>
                        <time class="tooltip">{{ @posts->created_at->format('m/d/y (D) H:i:s') }}</time>
                    </p><!-- post header -->
                    <check if="{{ @posts.photos->count() }}">
                        <true>
                            <include href="widgets/file_loader.htm" />
                        </true>
                        <false>
                            <div class="body"><check if="{{ @posts.spoiler }}"><true><span class="spoiler">{{ @posts.content | remove_spaces,replace_data }}</span></true><false>{{ @posts.content | remove_spaces,replace_data }} </false></check></div>
                        </false>
                    </check>
                </div><!-- reply -->
            </div><!-- post container -->
        </false>
    </check>
    </div>
</repeat>

</repeat>

<div class="clear"></div>

<hr>

<div class="thread-menu">
    <div class="post-btn">
        [<a href="{{ @home_url }}/{{ @page.board_slug }}/catalog"><span class="icon-th-large"></span> Catalog</a>]
        [<a href="javascript:void(0)" id="go_to_top"><span class="icon-top"></span> Top</a>]
    </div>
</div>

<div class="clear"></div>

<hr>