<div class="uk-form">
<span data-uk-margin> Sort By: 
<select id="order"> 
<option value="thread_id" data-uk-filter="id">Bump order</option> 
<option value="updated_at" data-uk-filter="updated_at">Last reply</option> 
<option value="created_at" data-uk-filter="created_at">Creation date</option> 
<option value="total_reply" data-uk-filter="total_reply">Reply count</option> 
</select>
<span class="search">[Search] <input type="text" class="filter"><i class="icon-search"></i></span>
</span>
</div>

<div class="extended-small" id="threads" data-uk-grid="{controls: '#order'}">

<repeat group="{{ @page.board_list.threads }}" value="{{ @threads }}" counter="{{ @counter }}">

<div id="thread-{{ @threads.id }}" class="thread" data-uk-filter="id,created_at,updated_at,total_reply">
<a href="{{ @home_url }}/{{ @page.board_list.slug }}/thread/{{ @threads.id }}/{{ @threads.name | remove_white_spaces }}"><img class="thumb img-thumbnail img-responsive" src="{{ @home_url }}/uploads/{{ @page.board_list.slug }}/{{ @threads.id }}/{{ @threads.photos->first()->file_name }}"></a>
<div title="(R)eplies / (I)mages">R: <b>{{ @threads.posts->count() }}</b> / I: <b>1</b></div>
<div class="teaser">{{ @threads.name }} <p>{{ @threads.content }}</p></div>
</div>
</repeat>

</div>